<div id="exercicio3">
  <h3>Exercicio 3</h3>
  <p>
    Fazer um algoritmo que:
  </p>
  <ul>
    	<li>Leia um número indeterminado de linhas
			contendo cada uma a idade de um indivíduo.
		</li>
		<li>
			A última linha que não entrará nos cálculos,
			contém o valor da idade igual a zero.
		</li>
		<li>
			Calcule e escreva a idade média deste grupo
			de indivíduos.
		</li>
		<li>
			Escreva também a maior idade e a menor.
		</li>
    </ul>
  
  <div class="form-group box-t ">
        <div class="row">
            <div class="col-md-6">
              <input #txtIdade type="text" class="form-control"  [(ngModel)]="textValue" required>
            </div>
            <div class="col-md-6">
              <button class="btn btn-success" (click)="verificarIdades(txtIdade.value)">Enviar</button>
            </div>
        </div>
  </div>
  
</div>